#Contact-Menu {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.Social-Link {
  list-style: none;
  display: block;
  width: 100%;
  height: auto;
  max-height: 300px;
  padding: 3% 0% 0% 5%;
}

.Social-Link:hover {
  background-color: #CDCDCD;
}

.Social-Link a {
  text-decoration: none;
  display:block;
  color: inherit;
}

.inner-div {
  width: 100%;
  display: inline-block;
}

.inner-div img {
  width: 10%;
  float: left;
}

.inner-div h3 {
  font: lighter 52px Arial;
  float: none;
  padding-top: 3%;
  padding-left: 12%;
  text-align: justify;
}

#Social-Link {
  background-color: inherit;
}
