@charset "UTF-8";

#Contact-Menu {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.Social-Link {
  list-style: none;
  display: block;
  width: 100%;
  height: auto;
  max-height: 300px;
  padding: 1% 0% 1% 5%;
}

.Social-Link:hover {
  box-shadow: 0 7px 3px 0 rgba(0,0,0,0.20),0 -4px 3px 0 rgba(0,0,0,0.10);
  transition: box-shadow 250ms cubic-bezier(.14,.68,.93,.47);
}

.Social-Link a {
  text-decoration: none;
  display:block;
  color: inherit;
}

.inner-div {
  width: 100%;
  display: inline-block;
}

.inner-div img {
  width: 10%;
  float: left;
}

.inner-div h2 {
  font: lighter 52px Arial;
  font-size: 5vw;
  float: none;
  padding-top: 2.2%;
  padding-left: 12%;
  text-align: justify;
  color: #373b49;
}
