#showcase
{
    width: 100%;
    height: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    display:inline-block;
}

#logo
{
  width: 23%;
  height: auto;
}

#name
{
  height: auto;
  width: 73%;
  margin-bottom: 0.9%;
}
