@media(min-width:1280px) {
    #ShowcaseVideoTablet {
        display: none;
    }
    #ShowcaseVideoMobile {
        display: none;
    }
    #Introduction {
        height: 720px;
        margin: 30px 0px 30px 0px;
    }
}

@media(min-width:720px) and (max-width:1279px) {
    #ShowcaseVideoPC {
        display: none;
    }
    #ShowcaseVideoMobile {
        display: none;
    }
    #Introduction {
        height: 405px;
        margin: 25px 0px 25px 0px;
    }
}

@media screen and (max-width:719px) {
    #ShowcaseVideoPC {
        display: none;
    }
    #ShowcaseVideoTablet {
        display: none;
    }

    #Introduction {
        height: 180px;
        margin: 20px 0px;
    }
    #logo
    {
      width: 50%;
      height: auto;
      padding: 0px 24% 0px 24%;
    }

    #name
    {
      display: none;
    }

    #mainHeader h1 {
       margin: 5px;
    }

    #navbar ul {
       padding: 0;;
       margin: 5px 0px;
    }

    #navbar li {
       padding: 0px;
    }

    #navbar ul li a {
       margin-right: 15px;
       padding: 7px 5px 7px 5px;
    }

}

#Introduction {
    background-color: #CDCDCD;
}
