@media(max-width:1424px) {
    .cardSection {
        margin-bottom: 25px;
    }

    .Card {
        width: 31%;
        margin: 20px 1% 20px 1%;
        display: inline-block;
    }

    .information-container {
        height: 210px;
        padding: 10px 20px 10px 20px;
        box-sizing: border-box;
    }

        .information-container h3 {
            text-align: center;
            padding-bottom: 17px;
            font: 400 22px arial;
        }

        .information-container p {
            margin: 0px 15px 15px 15px;
            font-size: 14px;
        }
}

@media(min-width:1424px) {
    #ShowcaseVideoMobile {
        display: none;
    }
}

@media(max-width:1424px) {
    #ShowcaseVideoPC {
        display: none;
    }
}

@media(max-width:1424px) {

    #Introduction {
        width: 100%;
        height: 405px;
    }
}

@media(max-width:975px) {

    .container {
      width: 100%;
    }

    .Card {
        margin: 20px 1% 20px 1%;
    }

    .information-container {
        height: 215px;
        padding: 0px 5px 7px 5px;
    }

        .information-container h3 {
            text-align: center;
            padding-bottom: 17px;
            font: 400 20px arial;
        }

        .information-container p {
            margin: 0px 15px 15px 15px;
            font-size: 13px;
        }
}

@media(max-width:737px) {
    .cardSection {
        white-space: normal;
    }

    .Card {
        margin: 27px 10% 27px 10%;
        width: 80%;
        display: block;
        vertical-align: initial;
    }

    .information-container {
        height: 200px;
        padding: 0px 10px 10px 10px;
    }

        .information-container h3 {
            text-align: center;
            padding-bottom: 17px;
            padding-top: 10px;
            font: 400 30px arial;
        }

        .information-container p {
            margin: 0px 15px 15px 15px;
            font-size: 16px;
        }
}
