@charset "UTF-8";

body {
   background-color: #eee;
   margin: 0px;
}

h2{
   margin: 0px;
}

p{
   margin: 0px;
   padding: 0px;
}

a {
  text-decoration: none;
}

.container {
   width: 90%;
   margin: auto;
   overflow: hidden;
   font: lighter 16px Arial, Ebrima;
}

.button {
   background-color: #373b49;
   color: #C06014;
   padding: 2px 5px;
   border: none;
   font-family: Ebrima;
   font-size: 18px;
}

.button:active {
   background-color: #4b4e5b;
}

.article {
   border-bottom: solid 3px #373b49;
   margin: 10px 0px 20px 0px;
   padding-right: 5px;
}

.article h2 {
   color: #3d3b3c;
   font-family: Arial;
   margin: 7px 0px 7px 14px;
   padding-top: 10px;
}

.article h3 {
   color: #3d3b3c;
   font-family: Arial;
   margin: 3px 0px 3px 0px;
   padding-top: 5px;
   text-align: center;
}

.article p {
   color: #3d3b3c;
   font-family: Arial;
   margin: 0px 4px 4px 14px;
   padding-bottom: 5px;
}

.embed {
   margin: 0px;
   padding: 0px;
}


.curent a {
  background-color: #4b4e5b;

}

.footer {
   width: 100%;
   background-color: #eee;
   border-top: 5px solid #373b49;
   padding: 0px 0px 10px 0px;
   margin-top: 60px;
}

.footer p {
   text-align: center;
   color: #000;
   font: 100 14px Arial;
   padding: 10px;
}

#mainHeader {
   background-color: #eee;
   border: none;
   padding: 5px 0px 5px 0px;
   width: 100%;
}

#mainHeader h1 {
   color: #000;
   font: 100 27px arial;
   margin-left: 10px;
}

#navbar {
   background-color: #373b49;
   padding: 0px;
   width: 100%;
}

#navbar ul {
   padding: 0;
   list-style: none;
   margin: 5px 0px;
}

#navbar li {
   padding: 0px;
   display: inline;
}

#navbar ul li a {
   text-decoration: none;
   font-size: 18px;
   margin-right: 20px;
   padding: 7px 7px 7px 7px;
   color: #C06014;
}
