@charset "UTF-8";

html {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
}

body {
   background-color: #fff;
   margin: 0px;
}

header {
   background-color: #fff;
   border: none;
   width: 100%;
   background-image: url(../img/Backdrop_White_1.jpg);
}

header h1 {
   color: #373b49;
   font: 100 27px arial;
   padding: 20px 25px;
   margin: 0;
   width: auto;
   display: block;
}

h2{
   margin: 0px;
}

p{
   margin: 0px;
   padding: 0px;
}

a {
  text-decoration: none;
}

.background {
background-image: url(../img/Backdrop_White_1.jpg);

  min-height: 86vh;
  height: auto;
}

.container1 {
   width: 90%;
   margin: 0px auto;
   overflow: hidden;
   font: lighter 16px Arial, Ebrima;
}
.container {
   width: 90%;
   padding-top: 2em;
   padding-bottom: 2em;
   margin: 0px auto;
   overflow: hidden;
   font: lighter 16px Arial, Ebrima;
}

.article {
   border-bottom: solid 3px #4b4e5b;
   margin: 10px 0px 20px 0px;
   padding-right: 5px;
}

.article h2 {
   color: #373b49;
   font-family: Arial;
   margin: 7px 0px 7px 14px;
   padding-top: 10px;
}

.article h3 {
   color: #373b49;
   font-family: Arial;
   margin: 3px 0px 3px 0px;
   padding-top: 5px;
   text-align: center;
}

.article p {
   color: #191919;
   font-family: Arial;
   margin: 0px 4px 4px 14px;
   padding-bottom: 5px;
}

.embed {
   margin: 0px;
   padding: 0px;
}


.curent a {
  background-color: #4b4e5b;
  box-shadow: inset 0 0 9px #373b49;

}

.footer {
   width: 100%;
   background-color: #373b49;
   position: relative;
   bottom:0;
   left:0;
}

.footer p {
   text-align: center;
   color: #c06014;
   font: 100 16px Arial;
   padding: 10px;
}

#navbar {
   background-color: #373b49;
   padding: 0px;
   width: 100%;
}

#navbar ul {
   padding: 0;
   list-style: none;
   margin: 5px 0px;
}

#navbar li {
   padding: 0px;
   display: inline;
}

#navbar ul li a {
   text-decoration: none;
   font-size: 18px;
   margin-right: 20px;
   padding: 7px 7px 7px 7px;
   color: #c06014;
}
