.article a {
  display: inline-block;
  width: 100px;
}

#image-brand {
  width: 100%;
  height: auto;
  margin-left: 12px;
  display: inline-block;
}
#image-brand  {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

#image-brand:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#image-wrap {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
}
#image-GameMaker-Room {
  min-width: 250px;
  max-width: 80%;
  height: auto;
  margin: 10px 12px 10px 12px;
  display: inline-block;
}
#image-GameMaker-Room img{
  width: 100%;
  height: auto;
}
#Paragraph-GameMaker {
  display: inline;
  width: auto;
  max-width: 63%;
  min-width: 20%;
  max-height: 440px;
  margin: 0px;
}
#Paragraph-GameMaker p {
  display: inline;
  max-height: 440px;
  margin: 0px;
}

#image-sbs {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#image-sbs2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#image-sbs img {
  margin: 0 auto;
}
#image-sbs2 img {
  margin: 0 auto;
  min-width: 200px;
  margin-bottom: 20px;
}

#Game {
  width: 60%;
  padding-top: 4em;
  text-align: center;
  border-bottom: solid 3px #373b49;
  margin: 0 auto;
}
#Game a:hover {
  text-decoration-line: underline;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}
#Game a {
  color: #000;
  font: lighter 47px Courier New, Ebrima;
}
