#Introduction
{
    background-color: #333;
    width: 100%;
    height: 720px;
    margin: 25px 0px 25px 0px;
}

.Vid 
{
    margin-left: auto;
    margin-right: auto;
    display: block
}

.articlework 
{
    display: block;
}

.cardSection 
{
    width: 100%;
    height: auto;
    margin-bottom: 27px;
    white-space: nowrap;
}

.Card 
{
    height: 100%;
    width: 32%;
    margin: 0px 10px 0px 10px;
    display: inline-block;
    vertical-align: top;
    background-color: #333;
}

.Card img 
{
    width: 100%;
    height:310px;
    margin: 0px;
}

.information-container {
    height: 130px;
    width: 100%;
    margin: 0px;
    padding: 10px 12px 10px 12px;
    box-sizing: border-box;
    white-space: normal;
    overflow: hidden;
}

.information-container p 
{
    margin: 0px;
    font-size: 16px;
    color: whitesmoke;
}

.information-container h3 
{
    margin: 0px;
    padding-bottom: 10px;
    font: 300 24px arial;
    color: whitesmoke;
}

.articlework
{
    max-width: 100%;
    min-width: 30%;
    margin: 10px 10px 20px 9px;
}

.articlework p
{
    max-width: 40%;
    padding: 10px 10px 10px 10px;
}