#game-view {
  width: 960px;
  height: 720px;
  margin: 10em auto 0 auto;
  overflow-y: hidden;
  height: 680px;
  overflow-x: hidden;
  width: 931px;
  padding-top: 10px;
}

@media (max-width: 959px)
{
  #game-view{
    display: none;
  }
}
