@media (max-width: 1400px) and (min-width: 1250px)
{
  #game-view {
    width: 960px;
    height: 720px;
    margin: 7em auto 0 auto;
    overflow-y: hidden;
    height: 662px;
    overflow-x: hidden;
    width: 881px;
  }

  #game-view2 {
    display: none;
  }
}

@media (max-width: 2000px) and (min-width: 1900px)
{
  #game-view {
    display: none;
  }

  #game-view2 {
    width: 1440px;
    height: 1080px;
    margin: 7em auto 0 auto;
    overflow-y: hidden;
    height: 1022px;
    overflow-x: hidden;
    width: 1361px;
  }
}

@media (max-width: 959px)
{
  #game-view{
    display: none;
  }
}
