@media screen and (min-width: 1250px)
{
  #game-view {
    width: 960px;
    height: 720px;
    margin: 7em auto 1em auto;
    overflow-y: hidden;
    height: 662px;
    overflow-x: hidden;
    width: 881px;
    display: block;
  }

  #game-view2 {
    display: none;
  }
}

@media screen and (min-width: 1600px)
{
  #game-view2 {
    width: 1440px;
    height: 1080px;
    margin: 7em auto 1em auto;
    overflow-y: hidden;
    height: 1022px;
    overflow-x: hidden;
    width: 1361px;
    display: block;
  }

  #game-view {
    display: none;
  }
}
