@media screen and (min-width: 1250px)
{
  #game-view {
    margin: 7em auto 1em auto;
    overflow-y: hidden;
    height: 662px;
    overflow-x: hidden;
    width: 881px;
    display: block;
  }

  #game-view2 {
    display: none;
  }
}

@media screen and (min-width: 1600px)
{
  #game-view2 {
    margin: 7em auto 1em auto;
    overflow-y: hidden;
    height: 943px;
    overflow-x: hidden;
    width: 1257px;
    display: block;
  }

  #game-view {
    display: none;
  }
}
