@media screen and (max-width: 1249px) {
  #game-view0 {
    margin: 0 auto 1em auto;
    overflow-y: hidden;
    height: 309px;
    overflow-x: hidden;
    width: 424px;
    display: block;
  }
  #game-border0 {
    height: 309px;
    display: block;
    background: rgba(179,94,25,1);
    background: -moz-linear-gradient(left, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(140,94,64,0.99) 18%, rgba(103,95,101,0.99) 35%, rgba(90,95,114,0.99) 41%, rgba(90,95,114,1) 49%, rgba(90,95,114,1) 64%, rgba(179,94,25,1) 100%);
    background: -webkit-linear-gradient(left, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(140,94,64,0.99) 18%, rgba(103,95,101,0.99) 35%, rgba(90,95,114,0.99) 41%, rgba(90,95,114,1) 49%, rgba(90,95,114,1) 64%, rgba(179,94,25,1) 100%);
    background: -o-linear-gradient(left, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(140,94,64,0.99) 18%, rgba(103,95,101,0.99) 35%, rgba(90,95,114,0.99) 41%, rgba(90,95,114,1) 49%, rgba(90,95,114,1) 64%, rgba(179,94,25,1) 100%);
    background: -ms-linear-gradient(left, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(140,94,64,0.99) 18%, rgba(103,95,101,0.99) 35%, rgba(90,95,114,0.99) 41%, rgba(90,95,114,1) 49%, rgba(90,95,114,1) 64%, rgba(179,94,25,1) 100%);
    background: linear-gradient(to right, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(140,94,64,0.99) 18%, rgba(103,95,101,0.99) 35%, rgba(90,95,114,0.99) 41%, rgba(90,95,114,1) 49%, rgba(90,95,114,1) 64%, rgba(179,94,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b35e19', endColorstr='#b35e19', GradientType=1 );
  }
  #game-view1 {
    display: none;
  }
  #game-border1 {
    display: none;
  }
  #game-view2 {
    display: none;
  }
  #game-border2 {
    display: none;
  }
}

@media screen and (min-width: 1250px) {
  #game-view1 {
    margin: 0 auto 1em auto;
    overflow-y: hidden;
    height: 662px;
    overflow-x: hidden;
    width: 884px;
    display: block;
  }
  #game-border1 {
    height: 662px;
    display: block;
    background: rgba(179,94,25,1);
    background: -moz-linear-gradient(left, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(140,94,64,0.99) 18%, rgba(103,95,101,0.99) 35%, rgba(90,95,114,0.99) 41%, rgba(90,95,114,1) 49%, rgba(90,95,114,1) 64%, rgba(179,94,25,1) 100%);
    background: -webkit-linear-gradient(left, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(140,94,64,0.99) 18%, rgba(103,95,101,0.99) 35%, rgba(90,95,114,0.99) 41%, rgba(90,95,114,1) 49%, rgba(90,95,114,1) 64%, rgba(179,94,25,1) 100%);
    background: -o-linear-gradient(left, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(140,94,64,0.99) 18%, rgba(103,95,101,0.99) 35%, rgba(90,95,114,0.99) 41%, rgba(90,95,114,1) 49%, rgba(90,95,114,1) 64%, rgba(179,94,25,1) 100%);
    background: -ms-linear-gradient(left, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(140,94,64,0.99) 18%, rgba(103,95,101,0.99) 35%, rgba(90,95,114,0.99) 41%, rgba(90,95,114,1) 49%, rgba(90,95,114,1) 64%, rgba(179,94,25,1) 100%);
    background: linear-gradient(to right, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(140,94,64,0.99) 18%, rgba(103,95,101,0.99) 35%, rgba(90,95,114,0.99) 41%, rgba(90,95,114,1) 49%, rgba(90,95,114,1) 64%, rgba(179,94,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b35e19', endColorstr='#b35e19', GradientType=1 );
  }
  #game-view0 {
    display: none;
  }
  #game-border0 {
    display: none;
  }
  #game-view2 {
    display: none;
  }
  #game-border2 {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  #game-view2 {
    margin: 0 auto 1em auto;
    overflow-y: hidden;
    height: 943px;
    overflow-x: hidden;
    width: 1256px;
    display: block;
  }
  #game-border2 {
    height: 943px;
    display: block;
    background: rgba(179,94,25,1);
    background: -moz-linear-gradient(left, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(140,94,64,0.99) 18%, rgba(103,95,101,0.99) 35%, rgba(90,95,114,0.99) 41%, rgba(90,95,114,1) 49%, rgba(90,95,114,1) 64%, rgba(179,94,25,1) 100%);
    background: -webkit-linear-gradient(left, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(140,94,64,0.99) 18%, rgba(103,95,101,0.99) 35%, rgba(90,95,114,0.99) 41%, rgba(90,95,114,1) 49%, rgba(90,95,114,1) 64%, rgba(179,94,25,1) 100%);
    background: -o-linear-gradient(left, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(140,94,64,0.99) 18%, rgba(103,95,101,0.99) 35%, rgba(90,95,114,0.99) 41%, rgba(90,95,114,1) 49%, rgba(90,95,114,1) 64%, rgba(179,94,25,1) 100%);
    background: -ms-linear-gradient(left, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(140,94,64,0.99) 18%, rgba(103,95,101,0.99) 35%, rgba(90,95,114,0.99) 41%, rgba(90,95,114,1) 49%, rgba(90,95,114,1) 64%, rgba(179,94,25,1) 100%);
    background: linear-gradient(to right, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(179,94,25,1) 0%, rgba(140,94,64,0.99) 18%, rgba(103,95,101,0.99) 35%, rgba(90,95,114,0.99) 41%, rgba(90,95,114,1) 49%, rgba(90,95,114,1) 64%, rgba(179,94,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b35e19', endColorstr='#b35e19', GradientType=1 );
  }
  #game-view0 {
    display: none;
  }
  #game-border0 {
    display: none;
  }
  #game-view1 {
    display: none;
  }
  #game-border1 {
    display: none;
  }
}

.article h3 {
  margin-top: 2em;
  font: lighter 37px Courier New, Ebrima;
}

#game-border0 {
  margin-top: 2em;
  width: 100%;
  background-color: #373b49;
}

#game-border1 {
  margin-top: 2em;
  width: 100%;
  background-color: #373b49;
}

#game-border2 {
  margin-top: 2em;
  width: 100%;
  background-color: #373b49;
}

#game-name {
  font: lighter 47px Courier New, Ebrima;
  width: 50%;
  margin: 0em auto 0em auto;
  padding-top: 1em;
  text-align: center;
}

#image-sbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
#image-sbs img {
  margin: auto auto;
  height: auto;
}

#wrap-wrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
#Paragraph-Scratch {
  width: auto;
  max-width: 63%;
  min-width: 20%;
  margin: auto;
}
#Paragraph-Scratch p {
  margin: 0px;
}
#image-wrap {
  min-width: 200px;
  max-width: 60%;
  height: auto;
  margin: 10px auto;
}
#image-Scratch {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
}
#image-Scratch img{
  margin: auto;
  height: auto;
}
