@media (min-width: 1280px)  {

   /* Grid layout */
   .grid {
      display: grid;
      grid-template-columns: 33% 32% 33%;
      grid-template-rows:400px 400px;
      grid-column-gap: 40px;
      grid-row-gap: 60px;
      margin-bottom: 25px;
   }
   /* <---------> */

   /* Card layout */
   .card {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 70% 30%;
      grid-row-gap: 15px;
      grid-column-gap: 20px;
      height: 420px;
   }

   .image-container {
      overflow: hidden;
      height: 100%;
      width: 100%;
   }

   .image-container img {
      width:auto;
      height:130%;
   }

   /* <---------> */
}

@media (min-width: 720px) and (max-width: 1279px)  {

   /* Grid layout */
   .grid {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows:repeat(3, 400px);
      grid-column-gap: 20px;
      grid-row-gap: 40px;
      margin-bottom: 25px;
   }
   /* <---------> */

   /* Card layout */
   .card {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 60% 40%;
      grid-row-gap: 15px;
      grid-column-gap: 20px;
      height: 450px;
   }

   .image-container {
      overflow: hidden;
      height: 100%;
      width: 100%;
   }

   .image-container img {
      width:auto;
      height:140%;
   }
   /* <---------> */
}

@media (min-width: 320px) and (max-width: 719px)  {

   /* Grid layout */
   .grid {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows:repeat(6, 400px);
      grid-column-gap: 20px;
      grid-row-gap: 40px;
      margin-bottom: 25px;
   }
   /* <---------> */

   /* Card layout */
   .card {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50% 50%;
      grid-row-gap: 15px;
      grid-column-gap: 20px;
      height: 450px;
   }

   .image-container {
      overflow: hidden;
      height: 100%;
      width: 100%;
   }

   .image-container img {
      width:100%;
      height:auto;
   }

   /* <---------> */
}

/* Card info layout */
.info-container h3 {
   font-size: 140%;
   padding-bottom: 7px;
   text-align: center;
}

.info-container p {
   line-height: 23px;
   font-size: 18px;
   text-align: center;
}
/* <-------------> */


/* Youtube embeded video */
#Introduction {
    background-color: #333;
    width: 100%;
    height: 720px;
    margin: 25px 0px 25px 0px;
}

.Vid {
    margin-left: auto;
    margin-right: auto;
    display: block
}
/* <-------------------> */
