.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media (min-width: 1280px)  {

   /* Grid layout */
   .grid {
      display: grid;
      grid-template-columns: 33% 32% 33%;
      grid-template-rows:400px 400px;
      grid-row-gap: 100px;
      margin-bottom: 25px;
   }
   /* <---------> */

   /* Card layout */
   .card {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 65% 35%;
      grid-row-gap: 20px;
      height: 500px;
      margin-left: 5.5%;
   }

   .image-container {
      overflow: hidden;
      height: 100%;
      width: 100%;
   }

   .image-container img {
      width:auto;
      height:130%;
   }

   /* <---------> */
}

@media (min-width: 720px) and (max-width: 1279px)  {

   /* Grid layout */
   .grid {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows:repeat(3, 450px);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      margin-bottom: 25px;
   }
   /* <---------> */

   /* Card layout */
   .card {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 60% 40%;
      grid-row-gap: 15px;
      grid-column-gap: 20px;
      height: 450px;
      margin-left: 7%;
      margin-right: 8.7%;
   }

   .image-container {
      overflow: hidden;
      height: 100%;
      width: 100%;
   }

   .image-container img {
      width:auto;
      height:140%;
   }
   /* <---------> */
}

@media (min-width: 320px) and (max-width: 719px)  {

   /* Grid layout */
   .grid {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows:repeat(6, 500px);
      grid-column-gap: 20px;
      grid-row-gap: 40px;
      margin-bottom: 25px;
   }
   /* <---------> */

   /* Card layout */
   .card {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 65% 35%;
      grid-row-gap: 15px;
      grid-column-gap: 20px;
      height: 450px;
      margin-left: 5%;
      margin-right: 5%;
   }

   .image-container {
      overflow: hidden;
      height: 100%;
      width: 100%;
   }

   .image-container img {
      width:100%;
      height:auto;
   }

   /* <---------> */
}

/* Card info layout */
.info-container h2 {
   font-size: 150%;
   font-weight: lighter;
   padding-bottom: 7px;
   text-align: center;
   color: #373b49;
}

.info-container p {
   line-height: 23px;
   font-size: 18px;
   text-align: center;
   color: #373b49;
   margin-left: 5px;
   margin-right: 5px;
}

a {
  text-decoration: none;
}

a h2:hover {
  text-decoration: underline;
  text-decoration-style: solid;
}
/* <-------------> */


/* Youtube embeded video */
.Vid {
    margin-left: auto;
    margin-right: auto;
    display: block
}
/* <-------------------> */

/* Card state */
.card:hover {
  background-color: #;
}

.info-container h2:hover {
  color: #;
}

.info-container p:hover {
  color: #;
}
/* <-------------------> */
