@media screen and (max-width: 1249px) {
  #game-view0 {
    margin: 0 auto 1em auto;
    overflow-y: hidden;
    height: 309px;
    overflow-x: hidden;
    width: 424px;
    display: block;
  }
  #game-border0 {
    height: 309px;
    display: block;
    box-shadow: inset 0 0 9px #373b49;
  }
  #game-view1 {
    display: none;
  }
  #game-border1 {
    display: none;
  }
  #game-view2 {
    display: none;
  }
  #game-border2 {
    display: none;
  }
}

@media screen and (min-width: 1250px) {
  #game-view1 {
    margin: 0 auto 1em auto;
    overflow-y: hidden;
    height: 662px;
    overflow-x: hidden;
    width: 884px;
    display: block;
  }
  #game-border1 {
    height: 662px;
    display: block;
    box-shadow: inset 0 0 9px #373b49;
  }
  #game-view0 {
    display: none;
  }
  #game-border0 {
    display: none;
  }
  #game-view2 {
    display: none;
  }
  #game-border2 {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  #game-view2 {
    margin: 0 auto 1em auto;
    overflow-y: hidden;
    height: 943px;
    overflow-x: hidden;
    width: 1256px;
    display: block;
  }
  #game-border2 {
    height: 943px;
    display: block;
    box-shadow: inset 0 0 9px #373b49;
  }
  #game-view0 {
    display: none;
  }
  #game-border0 {
    display: none;
  }
  #game-view1 {
    display: none;
  }
  #game-border1 {
    display: none;
  }
}

.article h3 {
  margin-top: 2em;
  font: lighter 37px Courier New, Ebrima;
}

#game-border0 {
  margin-top: 2em;
  width: 100%;
  box-shadow: inset 0 0 9px #373b49;
}

#game-border1 {
  margin-top: 2em;
  width: 100%;
  box-shadow: inset 0 0 9px #373b49;
}

#game-border2 {
  margin-top: 2em;
  width: 100%;
  box-shadow: inset 0 0 9px #373b49;
}

#game-name {
  font: lighter 47px Courier New, Ebrima;
  width: 50%;
  margin: 0em auto 0em auto;
  padding-top: 1em;
  text-align: center;
}

#image-sbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
#image-sbs img {
  margin: auto auto;
  height: auto;
}

#wrap-wrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
#Paragraph-Scratch {
  width: auto;
  max-width: 63%;
  min-width: 20%;
  margin: auto;
}
#Paragraph-Scratch p {
  margin: 0px;
}
#image-wrap {
  min-width: 200px;
  max-width: 60%;
  height: auto;
  margin: 10px auto;
}
#image-Scratch {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
}
#image-Scratch img{
  margin: auto;
  height: auto;
}
