@media screen and (max-width: 1249px)
{
  #game-view0 {
    margin: 0 auto 1em auto;
    overflow-y: hidden;
    height: 309px;
    overflow-x: hidden;
    width: 414px;
    background-color: #373b49;
    display: block;
  }
  #game-border0 {
    height: 360px;
    display: block;
  }


  #game-view1 {
    display: none;
  }
  #game-border1 {
    display: none;
  }
  #game-view2 {
    display: none;
  }
  #game-border2 {
    display: none;
  }
}

@media screen and (min-width: 1250px)
{
  #game-view1 {
    margin: 0 auto 1em auto;
    overflow-y: hidden;
    height: 662px;
    overflow-x: hidden;
    width: 881px;
    background-color: #373b49;
    display: block;
  }
  #game-border1 {
    height: 662px;
    display: block;
  }


  #game-view0 {
    display: none;
  }
  #game-border0 {
    display: none;
  }
  #game-view2 {
    display: none;
  }
  #game-border2 {
    display: none;
  }
}

@media screen and (min-width: 1600px)
{
  #game-view2 {
    margin: 0 auto 1em auto;
    overflow-y: hidden;
    height: 943px;
    overflow-x: hidden;
    width: 1257px;
    background-color: #373b49;
    display: block;
  }
  #game-border2 {
    height: 943px;
    display: block;
  }


  #game-view0 {
    display: none;
  }
  #game-border0 {
    display: none;
  }
  #game-view1 {
    display: none;
  }
  #game-border1 {
    display: none;
  }
}

#game-border0 {
  margin-top: 2em;
  width: 100%;
  background-color: #373b49;
}
#game-border1 {
  margin-top: 2em;
  width: 100%;
  background-color: #373b49;
}
#game-border2 {
  margin-top: 2em;
  width: 100%;
  background-color: #373b49;
}

#game-name {
  font: lighter 47px Courier New, Ebrima;
  width: 50%;
  margin: 1em auto 0em auto;
  text-align: center;
}
